:root {
	--white: hsl(0deg 0% 100%);
}

html {
	font-size: clamp(0.62rem, 0.425rem + 1vw, 0.79rem);
	font-family: sans-serif;
}

body {
	font-size: 1.6rem;
}

img {
	max-inline-size: 100%;
	block-size: auto;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}